Source: notwireguard-linux-compat
Section: net
Priority: optional
Maintainer: Alexander Winkowski <dereference23@outlook.com>
Build-Depends:
 debhelper-compat (= 13),
 dkms,
Standards-Version: 4.5.1
Rules-Requires-Root: no

Package: notwireguard-dkms
Architecture: all
Section: kernel
Depends:
 ${misc:Depends},
 ${perl:Depends},
Recommends:
 notwireguard-tools (>= 1.0.20210914),
Description: fast, modern, secure kernel VPN tunnel (DKMS version)
 WireGuard is a novel VPN that runs inside the Linux Kernel and uses
 state-of-the-art cryptography (the "Noise" protocol). It aims to be
 faster, simpler, leaner, and more useful than IPSec, while avoiding
 the massive headache. It intends to be considerably more performant
 than OpenVPN. WireGuard is designed as a general purpose VPN for
 running on embedded interfaces and super computers alike, fit for
 many different circumstances. It runs over UDP.
 .
 This package uses DKMS to automatically build the wireguard kernel
 module.
